@model IEnumerable<LibApp.Models.ExampleBook>

@{
    ViewData["Title"] = "Index";
}

<h1>Экземпляры книг</h1>

<p>
    <a asp-action="Create">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VersionBook)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VersionBook.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ExampleBookId">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.ExampleBookId">Подробнее</a> |
                <a asp-action="Delete" asp-route-id="@item.ExampleBookId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
