@model LibApp.Models.Loan

@{
    ViewData["Title"] = "Delete";
}
@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}
<h1>Удаление</h1>

<h3>Вы уверены что хотите удалить ?</h3>
<div>
    <h4>Выдача</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IssuedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IssuedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DueDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExtensionsCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExtensionsCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReturnedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExampleBook)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExampleBook.ExampleBookId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="LoanId" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Вернуться к списку</a>
    </form>
</div>
